.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #050505;
  border-radius: 5px;
  text-align: center;
}

.card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.card p {
  margin-bottom: 5px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-input button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-input button:hover {
  background-color: #0056b3;
}

.country-by-name {
  margin-top: 20px;
}

.country-details {
  display: flex;
  align-items: center;
}

.country-details img {
  width: 100px;
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.active {
  background-color: #0056b3;
}
