.mainContainer{
    display: flex; 
    border-radius: 15%;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.button-group {
    display: inline-block;
  }
  
  .left-button {
    border-radius: 4px 0 0 4px;
  }
  
  .right-button {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
  }