.card {
    display: flex;
      display: inline-block;
       width: 200px;
      border: 1px solid #ccc;
      margin: 10px;
      padding: 10px;
      text-align: center;
    }
     
  .img {
    
      margin: 20px auto;
      border-radius: 150px; 
      width: 200px; 
      height: 200px; 
      object-fit: cover;
      border: 3.5px solid #D4AF37;
      transition: 0.3s ease-in-out;
    }
    
  